* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background: #c9c9c9;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 550px;
  background: #0070C8;
  border: 1px solid #555;
  border-radius: 5px;
  padding: 20px;
  animation: colors 2s ease 0s infinite normal;
  color: #fff;
}

.box:hover {
  animation-play-state: paused;
  cursor: pointer;
}

@keyframes colors {
   0%   { background: red;}
  25%   { background: blue; }
  50%   { background: orange; }
  75%   { background: lightgreen; }
  100%  { background: dodgerblue; }
}
